<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  <nav>
    <div class="nav-container">
      <a href="{{ "/" | relURL }}">
        <img src="{{ "/Ativo 44.svg" | relURL }}" alt="{{ site.Title }}" class="logo">
      </a>
      <ul class="nav-menu">
        <li><a href="{{ "/" | relURL }}">Home</a></li>
        <li><a href="{{ "/posts" | relURL }}">Projects</a></li>
        <li><a href="{{ "/about" | relURL }}">About</a></li>
      </ul>
    </div>
  </nav>
  
  <div class="container">
    <main>
      {{ block "main" . }}{{ end }}
    </main>
    
    <footer>
      {{ partial "footer.html" . }}
    </footer>
  </div>
</body>
</html>
