{{ define "main" }}
  <div class="content-wrapper">
    {{ .Content }}
    
    <h2>Latest Projects</h2>
    <div class="project-grid">
      {{ range first 3 (where site.RegularPages "Section" "posts") }}
        <div class="project-card">
          <a href="{{ .RelPermalink }}">
            {{ partial "project-image.html" . }}
            <div class="project-info">
              <h3 class="project-title">{{ .Title }}</h3>
              <p class="project-description">{{ .Summary | truncate 120 }}</p>
            </div>
          </a>
        </div>
      {{ end }}
    </div>
  </div>
{{ end }}
